<nav class="navbar navbar-expand-lg navbar-light navbar-color navbar-margin">
  <a class="navbar-brand text-color" routerLink="/">DXC Routing</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLinkActive="active-current"
        routerLink="/followers"
        [queryParams]="{ page: 1, order: 'newest' }"
      >
        Followers
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active-current"
        routerLink="/posts"
      >
        Posts
      </a>
    </div>
  </div>
</nav>
