<h1>Welcome to Angular</h1>
<hr />
<!-- <my-component></my-component>
<hr />
<app-course></app-course> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding>
 -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-favorite></app-favorite> -->
<!-- <app-tweet></app-tweet> -->
<!-- <boostrap-panel>
  <div class="heading">Heading from Outside</div>
  <div class="body">
    <h2>Body</h2>
    <p>Some content will go here...</p>
  </div>
</boostrap-panel>
<br />
<boostrap-panel>
  <ng-container class="heading">Heading from Outside</ng-container>
  <div class="body">
    <h2>Body</h2>
    <img
      src="https://piofx.s3.ap-south-1.amazonaws.com/images/post_1638941377_80_1612521039_dxc.png"
      alt=""
    />
    <p>Some content will go here...</p>
  </div>
</boostrap-panel> -->

<!-- <app-directive-if></app-directive-if> -->
<!-- <app-directive-swithc></app-directive-swithc> -->
<!-- <app-directive-for></app-directive-for> -->
<!-- <app-directive-for-change></app-directive-for-change> -->
<!-- <favorite></favorite> -->
<app-ng-style></app-ng-style>
